.sidebar_row{
    display: flex;
    align-self: center;
    padding: 15px;
    cursor: pointer;
}

.sidebar_row:hover{
    background-color: lightgray;
}

.sidebar_row .MuiSvgIcon-root{
    font-size: 30px;
    color: #2e81f4;
}

.sidebar_row h4{
    margin-left: 10px;
    font-weight: 600;
}